<#-- 
 * description: LOV编辑界面
 * version: 2.0 
 *author:hailin.xu@hand-china.com 
 *author:zhizheng.yang@hand-china.com
 * -->
<#include "../include/header.html">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
 <meta http-equiv="expires" content="0">   
</head>
<body>
<script src="${base.contextPath}/common/code?yesno=SYS.YES_NO&lovTypes=SYS.LOV_EDITOR_TYPE&alignType=SYS.ALIGN_TYPE"
        type="text/javascript"></script>
         <script src="${base.contextPath}/common/code?requestStatusdata=HAP_OM_ORDER_STATUS" type="text/javascript"></script>
       
<script type="text/javascript">

    var lovId =${RequestParameters.lovId!0};

    // 转换大小写
    $.each(lovTypes, function (i, n) {
        n.value = n.value.toLowerCase();
    })
    $.each(alignType, function (i, n) {
        n.value = n.value.toLowerCase();
    })
    var crudServiceBaseUrl = '${base.contextPath}';
    var viewModel2 = kendo.observable({
        selected: {},
        source: lovTypes,
        dataDsType: [
            {value: 'url', text: '<@spring.message "lovitem.ds_type.url"/>'},
            {value: 'code', text: '<@spring.message "lovitem.ds_type.code"/>'}
        ],
        onConditionFieldTypeSelect: function (e) {
            var item = e.item;
            var text = item.text();
            //获取到下拉框选中内容 根据选中内容判断是否显示
            if (text === "下拉框" || text === "Select") {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "none")
                $("#dsType").css("display", "block")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')

            }
            else {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "none")
                $("#dsType").css("display", "none")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')
                viewModel2.selected.set('comboboxType', '')
            }
        },
        oncomboboxTypeSelect: function (e) {
            var item = e.item;
            var text = item.text();
            //获取到下拉框选中内容 根据选中内容判断是否显示
            if (text == "URL") {
                $("#selectCode").css("display", "none")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                $("#url").css("display", "block")
                $("#conditionFieldSelectTftextField").css("display", "block")
                $("#conditionFieldSelectVfvalueField").css("display", "block")
            }
            else if (text == "快速编码" || text == "Sys Code") {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "block")
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')

            }
            else {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "none")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')
            }
        },
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/orderheader/getorderdetail?headerId=${RequestParameters.headerId!0}",
                    type: "POST"
                },
                create: {
                    url: crudServiceBaseUrl + "/orderheader/deleteline",
                    contentType: "application/json",
                    type: "POST"
                },
                update: {
                    url: crudServiceBaseUrl + "/orderheader/updateorderInfo",
                    contentType: "application/json",
                    type: "POST"
                }, 
                destroy: {
                    url: crudServiceBaseUrl + "/orderheader/deleteline",
                    contentType: "application/json",
                    type: "POST"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type);
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        var p = Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                        //p.lovId = lovId;
                        return p;
                    }
                }
            },
            requestEnd: function (e) {
                var response = e.response;
                if (!response)
                    return;
                //对查询编辑里的内容进行初始化

            },
            batch: true,
            serverPaging: false,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: "headerId",
                    fields: {
                        itemCode:{type: "string"},
                        orderNumber:{type: "string"},
                        companyName:{type: "string"},
                       // orderDate:{type: "date"},
                        orderStatus:{type: "string"},
                        customerName:{type: "string"},
                        customerId:{type: "long"},
                        lineId:{type: "long"},
                        lineNumber:{type:"long"},
                        inventoryItemId: {type: "long"},
                        itemDescription: {type: "string"},
                        orderQuantityUom: {type: "string"},
                        orderdQuantity: {type: "long"},
                        unitSellingPrice: {type: "long"},
                        lineMoney: {type: "long"},
                        description: {type: "string"},
                        addition1: {type: "string"},
                        addition2: {type: "string"},
                        addition3: {type: "string"},
                        addition4: {type: "string"},
                        addition5: {type: "string"}
                    }
                }
            }
        })
    });
    //   kendo.bind($("#queryEdit"), viewModel2);


    var viewModel = kendo.observable({
        model: {},
        queryResource: function (e) {
            //  $('#grid').data('kendoGrid').dataSource.page(1);
        },
        requestStatusData:requestStatusdata
        
    });
    
</script>

<!-- 编辑界面 -->
<!-- <form id="queryEdit" class="modal-content form-horizontal" role="form" autocomplete="off" style="display:none">
    <div class="col-xs-offset-1" style="margin-top:10px">
                <div class="form-group ">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.field_type"/></label>
                    <div class="col-xs-5">
                        <input  id="conditionFieldType" data-role="combobox" data-value-primitive="true" style="width: 100%" data-text-field="meaning" data-value-field="value"
                               data-bind="source:source,value:selected.conditionFieldType,events:{select:onConditionFieldTypeSelect}"/>
                        <script>kendo.bind($('#conditionFieldType'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldwidth"/></label>
                    <div class="col-xs-5">
                        <input type="number" id="conditionFieldWidth" style="width: 100%;text-align:right" data-bind="value:selected.conditionFieldWidth"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldWidth'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldsequence"/></label>
                    <div class="col-xs-5">
                        <input type="number" id="conditionFieldSequence" style="width: 100%;text-align:right" data-bind="value:selected.conditionFieldSequence"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSequence'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldname"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldName" style="width: 100%" data-bind="value:selected.conditionFieldName"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldName'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="dsType" style="display:none">
                    <label class="col-xs-3 control-label"> <@spring.message "lovitem.ds_type"/></label>
                    <div class="col-xs-5">
                        <input id="comboboxType" data-role="combobox" data-value-primitive="true" style="width: 100%" data-text-field="text" data-value-field="value"
                               data-bind="source:dataDsType,value:selected.comboboxType,events:{select:oncomboboxTypeSelect}"/>
                        <script>kendo.bind($('#comboboxType'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="url" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "Url"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectUrl" style="width: 100%" data-bind="value:selected.conditionFieldSelectUrl"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectUrl'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="conditionFieldSelectVfvalueField" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "valueField"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectVf" style="width: 100%" data-bind="value:selected.conditionFieldSelectVf"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectVf'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="conditionFieldSelectTftextField" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "textField"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectTf" style="width: 100%" data-bind="value:selected.conditionFieldSelectTf"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectTf'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="selectCode" style="display:none">
                    <label class="col-xs-3 control-label"> <@spring.message "lovitem.conditionfieldselectcode"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectCode" style="width: 100%" data-bind="value:selected.conditionFieldSelectCode"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectCode'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "textField"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldTextfield" style="width: 100%" data-bind="value:selected.conditionFieldTextfield"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldTextfield'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldlovcode"/> </label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldLovCode" style="width: 100%" data-bind="value:selected.conditionFieldLovCode"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldLovCode'), viewModel2);</script>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <span class="btn btn-primary" onclick="hideForm()">确定</span>
    </div>
</form> -->

<div id="dialog"></div>
<div id="content-container">
    <div id="page-content">
      <div class="panel" id="inQuery" style="padding: 0px;border:none;box-shadow: none;">
                <form class="form-horizontal" id="myForm">
                    <div class="panel-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message"company.companyshortname"/></label>
                                    <div class="col-sm-8">
                                        <input name="code" id="lovCompany"   style="width: 100%" data-bind="text:model.companyName,value:model.companyId"
                                       required>
                                <script>
                                kendo.bind($('#lovCompany'), viewModel);
                                $("#lovCompany").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_SALE_COMPANY")}, 
									    {
								      query: function(e) { },
								      select: function(e) {
								    	  //console.log(this.value());
								    	 // $("#lovCustomer").data("kendoLov").setLovCode(this.value()); 
								      },
								      dataValueField:viewModel.model.companyId,
								      dataTextField:viewModel.model.companyName
								     })); 
                                
                                </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="col-sm-3 control-label"><@spring.message"customer.customername"/></label>
                                <div class="col-sm-8">
                              <input id="lovCustomer"  type="text" style="width: 100%" data-bind="text:model.customerName,value:model.customerId"
                                        required  >           <script>                     
													/* 	  $("#lovCustomer").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_SALE_CUSTOMER")}, 
															    {
															      query: function(e) { },
															      select: function(e) { }
															     }));   */
															      kendo.bind($('#lovCustomer'), viewModel);
															var cuatomerId=  $("#lovCustomer").kendoLov({
															    	  //三个必要参数code、contextPath、locale
															    	         code:"LOV_SALE_CUSTOMER",
															    	         contextPath:'${base.contextPath}',
															    	         locale:'${base.locale}',
															    	         //其余参数可自行配置
															    	         select:function(e) {
															    	             //alert("select");
															    	         },
															    	         query:function(e){//这样用公司的lov联动customer的lov
															    	        	 e.param['companyId'] = viewModel.model.companyId;
															    	         }
															    	     }); 
															
													</script>
                                </div>
                              </div>
                           </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message "sale.orderstatus"/></label>
                                    <div class="col-sm-8">
                                 <select data-role="combobox" data-value-primitive="true"
                                 				id="orderStatus" 
                                                data-text-field="meaning" readonly="readonly" data-value-field="value"
                                                data-bind="source: requestStatusData,value:model.orderStatus" style="width: 100%;"></select>
                                          </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message "sale.ordermoney"/></label>
                                    <div class="col-sm-8">
                                       <input style="width: 100%" id="totalMoney"  readonly="readonly" data-bind="value:model.totalMoney" class="k-textbox">
                                     <script>                     
                                     					kendo.bind($('#orderStatus'), viewModel)
															kendo.bind($("#totalMoney"),viewModel);
													</script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><@spring.message "sale.ordernumber"/></label>
                                    <div class="col-sm-8">
                                           <input style="width: 100%" required id="form_orderNumber"  data-bind="value:model.orderNumber" class="k-textbox">  
                
                                                 </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            		<div class="form-group">
                          <label class="col-sm-3 control-label"><@spring.message "sale.saledate"/></label>
                          <div class="col-sm-8">
                              <input id="orderdate" required data-role="datepicker" type="text" style="width: 100%;" data-bind="value:model.orderDate">
                              <script>kendo.bind($('#orderdate'), viewModel);</script>
                          </div>
                      </div>
                            
                            </div>
                            
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6">
                      <span class="btn btn-default" 
                            onclick="save()" id="op_save" ><@spring.message "hap.save"/></span>
                           <span class="btn btn-primary" data-bind="click:queryResource"
                                 onclick="submit()"  id="op_submit" ><@spring.message "hap.submit"/></span>
                        <span class="btn btn-default" type="button" id="op_check" onclick="check()" ><@spring.message "hap.check"/></span>
                        <span class="btn btn-primary" 
                            onclick="refuse()" id="op_refuse" ><@spring.message "hap.refuse"/></span>
				
						<span class="btn btn-primary" 
                            onclick="orderDelete()"  id="op_delete" >整单删除</span>
					<span class="btn btn-primary" 
                            onclick="orderPrint()"  id="op_print">单据打印</span>
					<span class="btn btn-primary"  onclick="back()">返回</span>
					
							<script type="text/javascript">
								function save(){
									var status = viewModel.model.orderStatus;
									if(status!="NEW"&&status!="REJECTED"){
										return showMessage();
									}
									saveLov();
								}
							
								function check(){
									var status = viewModel.model.orderStatus;
									if(status!="SUBMITED"){
										return showMessage();
									}
									
									viewModel.model.set("orderStatus","APPROVED");
									saveLov();
									
								}
							
								function submit(){
									var newNow = viewModel.model.NewNow;
									var status = viewModel.model.orderStatus;
									if(newNow==true||(status!="NEW"&&status!="REJECTED")){
										return showMessage();
									}
									viewModel.model.set("orderStatus","SUBMITED");
									saveLov();
									
								}
								
							
								 function refuse(){
									 var status = viewModel.model.orderStatus;
										if(status!="SUBMITED"){
											return showMessage();
										}
										viewModel.model.set("orderStatus","REJECTED");
										saveLov();
								 }
								 
							 function orderPrint(){
								 
									}
							 
							 function showMessage(){
								 kendo.ui.showInfoDialog({
					                 message: '当前状态不可进行此操作'
					             });
							 }
								 
								function back(){
									window.location.href="/sale/saleorder.html"; 
								}
							
								function excelExport(){
									//console.log(viewModel.model);
									//console.log(viewModel.model.get("orderStatus"))
									Hap.submitForm({
							            url: '${base.contextPath}/orderheader/excelexport',
							            formModel: viewModel.model,
							            success: function (result) {
							            
							                
							            }
							        });
								}
							
								function orderDelete(){
									var newNow = viewModel.model.NewNow;
									if(newNow==true||(viewModel.model.orderStatus!="NEW"&&viewModel.model.orderStatus!="REJECTED")){
										
										return showMessage();
									}
								    kendo.ui.showConfirmDialog({
							            title:$l('hap.tip.info'),
							            message: $l('hap.tip.delete_confirm')
							        }).done(function (event) {
							            if (event.button == 'OK') {
									
									var headerId = viewModel.model.headerId;
								       $.ajax({
								            url: '${base.contextPath}/orderheader/deleteheader?headerId='+headerId,
									         type: "POST",
								            dataType: "json",
								            contentType: "application/json",
								            // data       : kendo.stringify(para),
								            success: function (args) {
								            }
								          
								        });
								       
							            }
							        })
								}
								
							</script>
                    </div>
                </div>
            </div>
         <script>kendo.bind($('#inQuery'), viewModel);</script>
    </div>
    <div id="tabstrip">
		        <ul>
		            <li id="gridtab"><@spring.message "sale.order.main"/></li>
		            <li id="othergridtab"><@spring.message "sale.order.other"/></li>
		        </ul>
			        <div id='grid-container'>
			            <div id="grid" style="clear: both"></div>
			        </div>
			          <div id='grid-container'>
			        	  <div id="othergrid" style="clear: both"></div>
			         </div>
        </div>
</div>

<script id="openEdit" type="text/x-kendo-template">
           
</script>
<script type="text/javascript">
//两个标签页
var tabToActivate = $("#gridtab");
var tabstrip =  $("#tabstrip").kendoTabStrip({
            animation: {
                close: {
                    duration: 200,
                    effects: "fadeOut"
                },
                open: {
                    duration: 200,
                    effects: "fadeIn"
                }
            },
            show:function(e){
                if(e.item.id == "gridtab"){
                    Hap.autoResizeGrid("#grid");
                }else if(e.item.id=="othergridtab"){
                    Hap.autoResizeGrid("#othergrid");
                }
            }

        }
		).data("kendoTabStrip");
		tabstrip.activateTab(tabToActivate);







    $('#page-content form:first input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.target.blur();
            viewModel.queryResource(e);
        }
    });
    $("#lovCompany").kendoValidator({
        messages: {
            required: "required"
        },
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'

    });
    $("#lovCustomer").kendoValidator({
        messages: {
            required: "required"
        },
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'

    });
    $("#form_orderNumber").kendoValidator({
        messages: {
            required: "required"
        },
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'

    });
    
    $("#orderdate").kendoValidator({
        messages: {
            required: "required"
        },
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'

    });

    function toggleAll(e) {
        var view = viewModel2.dataSource.view();
        var checked = e.target.checked;
        for (var i = 0; i < view.length; i++) {
            view[i].set("checked", checked);
        }
    }


    
	var gridEditable = true;
    if (${RequestParameters.isedit!0}== '1')
    {
    	
        $.ajax({
            url: '${base.contextPath}/orderheader/getorderheader?headerId=${RequestParameters.headerId!0}',
	         type: "POST",
            dataType: "json",
            async: false,
            contentType: "application/json",
            // data       : kendo.stringify(para),
            success: function (args) {
                //数据成功以后 绑定到viewmodel上
                var a0 = args.rows[0] || {};
                var defaultSqlType = 0;
                for (var k in a0) {
                  /*   if(k=='orderStatus'){
                        if(a0[k]==""){
                            defaultSqlType = 1;
                        }else{
                            defaultSqlType=0;
                        }
                    } */
                   /*  if (k == 'delayLoad' || k == 'needQueryParam' || k == 'editableFlag') {
                        var elementId = k;
                        viewModel.model.set(k, a0[k] == 'Y');
                        if(viewModel.model.get(k)){
                            $("#"+k).attr("checked",true);
                        }
                    } 
                    else*/
                        viewModel.model.set(k, a0[k]);
                }
                
                viewModel.model.set("NewNow",false);
               
                
                //生成sqlType的select下拉框
                //getSqlTypeSelect(defaultSqlType);
            },
            error: function () {

            }
        });
        
        var orderStatus = viewModel.model.orderStatus;
        if(orderStatus=="SUBMITED"){
    		gridEditable=false;
        	$("#lovCompany").data("kendoLov").readonly();
        	$("#lovCustomer").data("kendoLov").readonly();
        	$("#myForm input,textarea").attr("disabled","disabled");
        }else if(orderStatus=="APPROVED"){
        	gridEditable=false;
        	$("#lovCompany").data("kendoLov").readonly();
        	$("#lovCustomer").data("kendoLov").readonly();
        	$("#myForm input,textarea").attr("disabled","disabled");
        }
        
        authority();
        
    }else{
    	viewModel.model.set("orderDate", new Date())
    	viewModel.model.set("orderStatus","NEW");
    	viewModel.model.set("NewNow",true);
    	$("#op_delete").css("display","none");
		$("#op_submit").css("display","none");
		$("#op_print").css("display","none");
		$("#op_check").css("display","none");
		$("#op_refuse").css("display","none");
    }
    

	var grid = $("#grid").kendoGrid({
        dataSource: viewModel2.dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable: true,
        rownumber: true,
        toolbar: [
            {
                name: "create",
                template: '<span class="btn btn-primary k-grid-add"><@spring.message "hap.new"/></span>'
            }, {
                name: "save",
                template: '<span class="btn btn-success" onclick="saveLov()"><@spring.message "hap.save"/></span>'
            }, {
                template: '<span  onclick="deleteData()"  class="btn btn-danger"><@spring.message "hap.delete"/></span>'
            }
        ],
        columns: [
            {
                headerTemplate: "<input id='headCheckbox' type='checkbox' onclick='toggleAll(event)' tabindex='-1'/>",
                template: '<input class="checkbox hCheckbox" type="checkbox" data-bind="checked: checked" tabindex="-1"/>',
                width: 30
            },
            {
                field: "itemCode",
                title: '<@spring.message "sale.item.itemcode"/>',
                width: 80,
                template: function (dataItem) {
                    return dataItem['itemCode'] || ''
                },
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_SALE_INVENTORY_ITEMSCODE")}, {
                              /*   textField: 'itemCode',
                                model: options.model, */
                                select:  function(e){
                                    options.model.set('itemDescription', e.item.itemDescription);
                                    options.model.set('orderQuantityUom', e.item.itemUom);
                                    options.model.set('inventoryItemId', e.item.inventoryItemId);
                         
                                }                            
                            }));
                }
                
            },
            {
                field: "itemDescription",
                title: '<@spring.message "sale.item.itemdescription"/>',
                width: 100,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input required data-required-msg="产品描述不能为空!" name="' + options.field + '" readonly/>')
                        .appendTo(container)
                        .kendoMaskedTextBox({
                        	 caseLetter: "upper"

                        });
                }
            },
            {
                field: "orderQuantityUom",
                title: '<@spring.message "sale.product.uom"/>',
                width: 70,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input readonly required data-required-msg="产品单位不能为空!" name="' + options.field + '" />')
                        .appendTo(container)
                        .kendoMaskedTextBox({
                     

                        });
                }
            },
            {
                field: "orderdQuantity",
                title: '<@spring.message "sale.order.quantity"/>',
                width: 80,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor  : function (container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoNumericTextBox({
                            min:0,
                            step: 1,
                            change: function() {
                                options.model.set('lineMoney', options.model.unitSellingPrice*options.model.orderdQuantity);
                            }

                        });
                }

               
            },
		
            {
                field: "unitSellingPrice",
                title: '<@spring.message "sale.price"/>',
                width: 60,
                attributes: {style: "text-align:right"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor  : function (container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoNumericTextBox({
                            min:0,
                            step: 1,
                            change: function() {
                                options.model.set('lineMoney', options.model.unitSellingPrice*options.model.orderdQuantity);
                            }

                        });
                }
            },
            {
                field: "lineMoney",
                title: '<@spring.message "sale.product.money"/>',
                width: 60,
				
                attributes: {style: "text-align:right"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input required data-required-msg="金额不能为空!" name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoNumericTextBox({
                            spinners: false,
                        }).data("kendoNumericTextBox").readonly();;
                }

            }, 
            {
                field: "description",
                title: '<@spring.message "sale.order.description"/>',
                width: 60,
                attributes: {style: "text-align:right"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            }
        ],
        attributes: {style: "text-align:center"},
        editable: gridEditable,
        dataBound: function (e) {
            var view = this.dataSource.view();
            this.items().each(function (index, row) {
                kendo.bind(row, view[index]);
            });
            
        },
        change: function (e) {
            var model = this.dataItem(this.select());
            viewModel2.set("selected", model);
        }
    }).data("kendoGrid");


    
    
    var othergrid = $("#othergrid").kendoGrid({
        dataSource: viewModel2.dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        rownumber: true,
        toolbar: [
            {
                name: "create",
                template: '<span class="btn btn-primary k-grid-add"><@spring.message "hap.new"/></span>'
            }, {
                name: "save",
                template: '<span class="btn btn-success" onclick="saveLov()"><@spring.message "hap.save"/></span>'
            }, {
                template: '<span  onclick="deleteData()"  class="btn btn-danger"><@spring.message "hap.delete"/></span>'
            }
        ],
        columns: [
            {
                headerTemplate: "<input id='headCheckbox' type='checkbox' onclick='toggleAll(event)' tabindex='-1'/>",
                template: '<input class="checkbox hCheckbox" type="checkbox" data-bind="checked: checked" tabindex="-1"/>',
                width: 30
            },
            {
                field: "addition1",
                title: '<@spring.message "sale.order.addition1"/>',
                width: 80,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
              	  }
                },
            {
                field: "addition2",
                title: '<@spring.message "sale.order.addition2"/>',
                width: 100,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "addition3",
                title: '<@spring.message "sale.order.addition3"/>',
                width: 70,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
      
            {
                field: "addition4",
                title: '<@spring.message "sale.order.addition4"/>',
                width: 80,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "addition5",
                title: '<@spring.message "sale.order.addition5"/>',
                width: 60,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
    
        ],
        editable: gridEditable,
        dataBound: function (e) {
            var view = this.dataSource.view();
            this.items().each(function (index, row) {
                kendo.bind(row, view[index]);
            });
         
        },
        change: function (e) {
            var model = this.dataItem(this.select());
            viewModel2.set("selected", model);
        }
    }).data("kendoGrid");
    

    
    $("#grid").data("kendoGrid").one("dataBound", function (e) {
        this.select(this.tbody.find(">tr:first"));
    });

    
    /* var lineId = new Array();
	var datas = {}; */
	
    function deleteData() {

        var checked = $("#grid").find(".hCheckbox:checked");
        if (!checked.length) {
            return;
        }

        kendo.ui.showConfirmDialog({
            title:$l('hap.tip.info'),
            message: $l('hap.tip.delete_confirm')
        }).done(function (event) {
            if (event.button == 'OK') {
                var data = [];
                checked.each(function () {
                    data.push(grid.dataItem($(this.closest("tr"))));
                })
                for (var i = 0; i < data.length; i++) {
                    grid.dataSource.remove(data[i])
                }
                
                $.ajax({
                    url: '${base.contextPath}/orderheader/deleteline',
                   type:"POST",
                    dataType: "json",
                    contentType: "application/json",
                   	data : kendo.stringify(data),
                    success: function (args) {}
               		 });
                //grid.dataSource.sync();
            }
        })

    }
 

    
    //自动根据当前屏幕大小调整表格
    Hap.autoResizeGrid("#grid");
    var edit;
    function openEditor(item) {
        grid.select(item.closest('tr'))
        edit = $("#queryEdit").kendoWindow({
            width: 400,
            resizable:false,
            title: '<@spring.message "lovitem.type"/>',
            modal: true,
            open: function () {
                //打开时对其做处理
                if (viewModel2.selected.conditionFieldType == "select") {
                    $("#dsType").css("display", "block")
                    if (!viewModel2.selected.comboboxType) {
                        if (viewModel2.selected.conditionFieldSelectCode) {
                            viewModel2.selected.set('comboboxType', "code")
                        } else if (viewModel2.selected.conditionFieldSelectUrl
                                || viewModel2.selected.conditionFieldSelectVf
                                || viewModel2.selected.conditionFieldSelectTf) {
                            viewModel2.selected.set('comboboxType', "url")
                        }
                    }

                    // if(viewModel2.selected.comboboxType){
                    if (viewModel2.selected.comboboxType == "url") {
                        $("#selectCode").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectCode', '')
                        $("#url").css("display", "block")
                        $("#conditionFieldSelectTftextField").css("display", "block")
                        $("#conditionFieldSelectVfvalueField").css("display", "block")
                    } else if (viewModel2.selected.comboboxType == "code") {
                        $("#url").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectUrl', '')
                        $("#conditionFieldSelectTftextField").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectTf', '')
                        $("#conditionFieldSelectVfvalueField").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectVf', '')
                        $("#selectCode").css("display", "block")
                    }
                } else {
                    $("#url").css("display", "none")
                    $("#conditionFieldSelectTftextField").css("display", "none")
                    $("#conditionFieldSelectVfvalueField").css("display", "none")
                    $("#selectCode").css("display", "none")
                    $("#dsType").css("display", "none")
                    viewModel2.selected.set('conditionFieldSelectCode', '')
                    viewModel2.selected.set('conditionFieldSelectUrl', '')
                    viewModel2.selected.set('conditionFieldSelectTf', '')
                    viewModel2.selected.set('conditionFieldSelectVf', '')
                }
            }
        }).data("kendoWindow");
        edit.center().open();

    }

    function hideForm() {
        //用来隐藏查询编辑
        edit.close();
    }
    
  //判断sql类型并生成SqlType下拉框
    var getSqlTypeSelect = function(dSqlType){
        if(dSqlType==1){
            $("#customSql").attr("disabled",false);
            $("#customSql").attr("required",true);
            viewModel.model.set("sqlId","");
            $("#sqlIdDiv").css('display','none');
            $("#customSqlDiv").css('display','block');
            $("#sqlId").attr("required",false);
            $("#sqlId").attr("disabled",true);
        }
        $("#sqlType").kendoDropDownList({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: {
            data:[{ text: "<@spring.message 'lov.sqlId'/>", value: "<@spring.message 'lov.sqlId'/>" }, 
                  { text: "<@spring.message 'lov.customsql'/>", value: "<@spring.message 'lov.customsql'/>" }]
        },
        animation: false,
        index:dSqlType,
        change: function(e) {
            var value = this.value();
            if(value=="<@spring.message 'lov.customsql'/>"){
                $("#sqlIdDiv").css('display','none');
                $("#customSqlDiv").css('display','block');
                $("#customSql").attr("disabled",false);
                $("#customSql").attr("required",true);
                $("#sqlId").attr("required",false);
                $("#sqlId").attr("disabled",true);
               }else{
                   $("#sqlIdDiv").css('display','block');
                   $("#customSqlDiv").css('display','none');
                   $("#sqlId").attr("disabled",false);
                   $("#sqlId").attr("required",true);
                   $("#customSql").attr("required",false);
                   $("#customSql").attr("disabled",true);
                   }
          }
    });
    }
    
  
  
  
    
    //authority();
    //处理form中的选择框


    $("#grid").on("change", "input.gridCheckbox", function (e) {
        var target = $(e.target), grid = $("#grid").data("kendoGrid"),
                dataItem = grid.dataItem(target.closest("tr"));
        dataItem.set(target.context.name, this.checked ? 'Y' : 'N');
    });
    $('#editableFlag').click(function(){
        if(this.checked){
            viewModel.model.set("editableFlag",true);
        }else{
            viewModel.model.set("editableFlag",false);
        }
    });
    function saveLov() {
      	var companyId = viewModel.model.companyId;
      	console.log(viewModel);
      	var customerId = viewModel.model.customerId;
      	var orderDate = viewModel.model.orderDate;
      	var orderNumber =  viewModel.model.orderNumber;
      	
      	if(!companyId||!customerId||!orderDate||!orderNumber){
      	     kendo.ui.showInfoDialog({
                 message: '数据输入不完整'
                 
             });
      	     return;
      	}
     
            
          //保存所有数据
            //处理表单的单选框
            //viewModel.model.delayLoad = viewModel.model.delayLoad === true ? 'Y' : 'N'
            //viewModel.model.needQueryParam = viewModel.model.needQueryParam === true ? 'Y' : 'N'
           // viewModel.model.editableFlag = viewModel.model.editableFlag === true ? 'Y' : 'N'

            // 默认是false  使其弹出为真
           // viewModel.model.canPopup = 'Y'
            Hap.submitForm({
              //  url: '${base.contextPath}/sys/lov/submit',
                url: '${base.contextPath}/orderheader/submit',
                formModel: viewModel.model,
                grid: {
                	details: $('#grid')
                },
                success: function (result) {
                	viewModel.model.headerId = result.rows[0].headerId;
                }
            });
            kendo.ui.showConfirmDialog({
	            title:$l('hap.tip.info'),
	            message: "操作成功"
	        }).done(function (event) {
	            if (event.button == 'OK') {
	            	
	         	back();
	         	}
	            
	            })
       // back();}
    }
    

	function authority(){
		var status = viewModel.model.orderStatus;
		if(status=="NEW"){
			$("#op_check").css("display","none");
			$("#op_refuse").css("display","none");
			
		//	op_delete  op_refuse op_check op_submit op_save
		}else if(status=="APPROVED"){
			$("#op_delete").css("display","none");
			$("#op_check").css("display","none");
			$("#op_refuse").css("display","none");
			$("#op_submit").css("display","none");
			$("#op_save").css("display","none");
			
		}else if(status=="SUBMITED"){
			
			$("#op_delete").css("display","none");
			$("#op_submit").css("display","none");
			$("#op_save").css("display","none");
		}
		else if(status=="REJECTED"){
		
			$("#op_check").css("display","none");
			$("#op_refuse").css("display","none");
		}

	
	}
	
	
	
	
	
	
	
	
	
</script>
<style>
    .formCheckbox {
        height: 27px
    }
</style
</body>
</html>
